.main-section{
    display: flex;
    justify-content: space-between;
}

.right-section{
    position: sticky;
    height: fit-content;
    margin-left: 10px;
    top: 100px;
}

.right-section > div{
    border: 1px solid lightgray;
    padding: 5px;
    width: 300px;
}
.company-details{
    margin-bottom: 10px;
}
.company-details > img{
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    .main-section {
        flex-direction: column-reverse;
    }

    .right-section{
        position: relative;
        top: 0;
        margin: 20px 0;
        margin-left: 0;
    }

}